* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  background-color: rgb(208, 208, 208);
  height: 100%;
  width: 100%;
}

input, button{
    padding: 10px 20px;
    margin: 10px;
    font-size: 15px;
}