* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  background-color: rgb(146, 188, 203);
  height: 100%;
  width: 100%;
}

button, input{
    background-color: rgb(94, 65, 167);
    color: white;
    padding: 8px 12px;
    border-radius: 7px;
    margin: 20px;
    border: none;
}

input{
    color: rgb(61, 19, 115);
    background-color: rgb(244, 254, 255);
    border: 1px solid rgb(163, 163, 163) ;
}

.events{
    margin-bottom: 50px;
}

.box{
    height: 200px;
    width: 200px;
    background-color: brown;
    margin-left: 50px;
    margin-bottom: 20px;
}

.page1{
    height: 100vh;
    width: 100%;
    background-color: rgb(249, 160, 97);
}

.page2{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 142, 62);
}

.page3{
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 127, 36);
}