* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;

}

html,body{
  height: 100%;
  width: 100%;

}


.parent{
  min-height: 100vh;
  padding: 20px;
  width: 100%;
  background-color: #111;

  display: flex;
  flex-wrap: wrap;
}

.card{ 
  height: 330px;
  width: 280px;
  background-color: #fff; 
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px;
}

/* .card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
} */

.card .top{
  margin-bottom: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top img{
  object-fit: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #dadada;
  padding: 2px;
}

.center{

}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #838383;
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 5px ;
  gap: 3px;
  background-color: transparent;
  color: #6f6e6e;
}

.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h3{
  font-size: 17px;
  font-weight: 500;
}

.center h2{
  font-size: 20px;
  font-weight: 600;
}

.center .tags{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}

.center .tags h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 700;
  border-radius: 3px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #d7d7d7ce;
  padding-top: 15px;
}

.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  font-weight: 400; 
}

.bottom h3{
  font-size: 17px;
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}






